*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
}
.left{
    width: 30%;
    height: 100%;
}
.right{
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fb{
    position: absolute;
    left: 170px;
    top: 140px;

}
.bk{
    position: absolute;
    left: 260px;
    top: 420px;
}
.cont{
    /* background-color: red; */
    width: 40%;
    height: 50%;
    text-align: center;
    
}
.conti{
     width: 80%;
    height: 50px;
        background-color: hsl(279.47deg 65.52% 11.37%);
        color: white;
        border-radius: 6px;
         border: solid 0.1px rgba(32, 31, 31, 0.321);
         cursor: pointer;
         transition: all ease-in-out 0.3s;
}
.conti:hover{
    background-color: white ;
    color:black;
}
.th{
    letter-spacing: 2px;
}
.add{
    color: #00000082;;
}

@media screen and (max-width: 450px) {
    .paa{
        
        width: 379px;
    height: 250px;
    }
    .main-container{
        flex-direction: column;
    }
    .fb{
        width: 290px;
        position: absolute;
        left: 20px;
        top: 150px;
        z-index: 1; 
       

    }
    .bk{
          width: 290px;
        position: absolute;
        left: 80px;
        top: 40px;
        
       
    }
    .right{
        /* background-color: red; */
        position: absolute;
        left: 20px;
        height: 40%;
        top: 260px;
        width: 90%;
        


    }
    .th{
        /* background-color: red; */
        width: 230px;
        font-size: 30px;
        margin-bottom: 3px;
        margin-left: -49px;
        /* background-color: red; */
        
        
       
    }
    .add{
        /* background-color: red; */
        width: 290px;
         margin-left: -70px;
         margin-bottom: 39px;
    }
    .tha{
        margin-bottom: 20px;
    }
    .conti{
        width: 330px;
        margin-left: -95px;
    }
    .cont{
         text-align: center;
         margin: 40px;
         
         
    }
    br{
        display: none;
    }
    
    
}